.App {
  text-align: center;
  background-color: #333;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

tr {
  width: 100%;
  display: inline-table;
}
  
table{
  height:80vh;
  width: 100%;
}
tbody{
  overflow-y: scroll;
  height: 70vh;
  width: 97%;
  position: absolute;
}
