.Discover{
	width: 100%;
}

.Discover-Title-Card img{
	height: 200px;
	width: 140px;
}

.Discover-Tab{
	font-size: 30px;
	text-align: center;
	background-color: #272727;
	overflow: hidden;
	height: 70px;
	width: 100%;
	padding: 10px;
}

.Discover-Tab-Option{
	float: left;
	width: 25%;
	cursor: pointer;
}

.flex-container {
    display: flex;
}

.discover-content {
    flex-grow: 0;
    width: 98%;
}

.Discover-Table-Scroll{
	overflow-x: Scroll;
}
