.Discover{
	width: 100%;
}

.Discover-Title-Card{
	height: 240px;
	width: 180px;
}

.Discover-Title-Card img, p{
	cursor: pointer;
}

.Discover-Tab{
	font-size: 30px;
	text-align: center;
	overflow: hidden;
	height: 70px;
	width: 100%;
	padding: 10px;
}

hr{
	background-color: white;
}
.Discover-Tab-Option{
	float: left;
	width: 25%;
	cursor: pointer;
}


.ListsContainer{
	padding-right: 20px;
	overflow: auto;
}

.flex-container {
    display: flex;
}

.discover-content {
    flex-grow: 0;
    width: 98%;
}

.Discover-Table-Scroll{
	overflow-x: Scroll;
}

.Discover-Tab-Hover{
	background-color: #444;
}