.MyList {
	width: 98%;
}

.MyList-buttons {
    margin: 15px;
}

#search {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.MyList {
	width: 98%;
}

.ReactTable {
    background: #222;
  
}

.rt-td{
    white-space: normal!important;
}
img{
	height: 143px;
	width: 100px;
}