.Sidebar {
  text-align: center;
  color: white;
  width: 13%;
  min-width: 125px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  height: 100vh;
  position: fixed;
}

.Sidebar-logo {
  height: 100%;
  padding: 0px;
}

.Sidebar-header {
  background-color: #111;
  height: 150px;
  color: white;
}

.Sidebar-title {
  font-size: 1.5em;
}

.Sidebar-buttons {
  font-size: 30px;
  text-align: left;
  padding-left: 10%;
  margin: 0;
}

.Sidebar-sub-buttons {
	font-size: 20px;
	text-align: left;
  padding-left: 20%;
  margin: 0;
}

.Sidebar-hover {
  padding-left : 0px;
  cursor: pointer;
}
.Sidebar-hover:hover * {
    background-color: #444;
}

.Sidebar-Active{
	background-color: #444;
}